body {
  margin: 0;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  height: auto;
  width: 21vw;
  border: 5px solid black;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(34, 45, 75);
  width: 24vw;
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
  margin: 20px;
  color: #fff;
}
